{% extends 'base.html' %}

{% block title %}Māori Dictionary | Add Word to {{ cat_name_list[0][1] }}{% endblock %}

{% block main %}
    <h2>Add word to the {{ cat_name_list[0][1] }} Category</h2>

    {% if logged_in %}
        <form class="dataform" method="post">
            <div>
                <div><label for="maori">Maori Word:</label></div>
                <div><input type="text" name="maori" id="maori" required placeholder="Maori Word..."></div>
            </div>

            <div>
                <div><label for="english">English Translation:</label></div>
                <div><input type="text" name="english" id="english" required placeholder="English Translation..."></div>
            </div>

            <div>
                <div><label for="definition">Definition:</label></div>
                <div><textarea name="definition" id="definition" required placeholder="Definition of word..."></textarea></div>
            </div>

            <div>
                <div><label for="word_level">Word Level: <span id="rangeValue">3</span></label></div>
                <div>
                    <input type="range" min="1" max="10" value="3"
                            name="word_level" id="word_level" required
                            onChange="rangeSlide(this.value)"
                            onmousemove="rangeSlide(this.value)">
                </div>
            </div>

            <div>
                <div></div>
                <div><input class="button" type="reset"></div>
            </div>

            <div>
                <div></div>
                <div><input class="button" type="submit"></div>
            </div>

        </form>
    {% else %}
        <p>You must be logged in to add a word to the Maori Dictionary.</p>
    {% endif %}

    <script type="text/javascript">
        function rangeSlide(value) {
            document.getElementById('rangeValue').innerHTML = value;
        }
    </script>

{% endblock %}
