{% extends 'base.html' %}

{% block title %}Māori Dictionary | {{ cat_name_list[0][1] }}{% endblock %}

{% block main %}
    <h2>{{ cat_name_list[0][1] }}</h2>
    {% if words|length == 0 %}
        <p class="error">No words in {{ cat_name_list[0][1] }} category</p>
    {% else %}
        <form method="post" class="filter">
            <div>
                <div><label for="search_filter">Filter results by:</label></div>

                <select name="search_filter" id="search_filter">
                    <option id="maori_filter" value="maori_filter">Maori Word</option>
                    <option id="english_filter" value="english_filter">English Word</option>
                    <option id="word_level_filter" value="word_level_filter">Word Level</option>
                    <option id="recent_filter" value="recent_filter">Recently Added</option>
                </select>

            <button type="submit">Update Filter</button>
            </div>
        </form>

        <table>
            <tr>
                <th>Maori</th>
                <th>English</th>
            </tr>
            {%  for word in words %}


                <tr id="category-highlight">
                    <td><a href="/word/{{ word[0] }}"><p>{{ word[1] }}</p></a></td>
                    <td><a href="/word/{{ word[0] }}"><p>{{ word[2] }}</p></a></td>
                </tr>


            {%  endfor %}
        </table>
    {% endif %}

    {% if logged_in %}
        <div class="buttons">
            <button onclick="window.location.href='/editcategory/{{ cat_name_list[0][0] }}'">
                Edit {{ cat_name_list[0][1] }} Category
            </button>

            <button onclick="window.location.href='/addword/{{ cat_name_list[0][0] }}'">
                Add Word to {{ cat_name_list[0][1] }} Category
            </button>
        </div>
    {% endif %}

{% endblock %}

{% block my_script%}
<script>
$( document ).ready(function() {
    $("[id^={{ search_filter }}]").attr({
        "selected" : "selected"
    })
});
</script>

{% endblock %}