{% extends 'base.html' %}

{% block title %}Maōri Dictionary | {{ cat_name_list[0][1] }}{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    <h1>{{ cat_name_list[0][1] }}</h1>
    <table>
        <tr>
            <th>Maori</th>
            <th>English</th>
        </tr>
        {%  for word in words %}


            <tr id="category-highlight">
                <td><a href="/word/{{ word[0] }}"><p>{{ word[1] }}</p></a></td>
                <td><a href="/word/{{ word[0] }}"><p>{{ word[2] }}</p></a></td>
            </tr>


        {%  endfor %}
    </table>

{% endblock %}
