{% extends 'base.html' %}

{% block title %}Maōri Dictionary | {{ cat_name_list[0][1] }}{% endblock %}

{% block main %}
    <h2>{{ cat_name_list[0][1] }}</h2>
    <table>
        <tr>
            <th>Maori</th>
            <th>English</th>
        </tr>
        {%  for word in words %}


            <tr id="category-highlight">
                <td><a href="/word/{{ word[0] }}"><p>{{ word[1] }}</p></a></td>
                <td><a href="/word/{{ word[0] }}"><p>{{ word[2] }}</p></a></td>
            </tr>


        {%  endfor %}
    </table>

    {% if logged_in %}
        <form class="dataform" method="post">
            <h3>Add A Word to the {{ cat_name_list[0][1] }} Category</h3>
            <div>
                <div><label for="maori">Maori Word:</label></div>
                <div><input type="text" name="maori" id="maori" required></div>
            </div>

            <div>
                <div><label for="english">English Translation:</label></div>
                <div><input type="text" name="english" id="english" required></div>
            </div>

            <div>
                <div><label for="definition">Definition:</label></div>
                <div><input type="text" name="definition" id="definition" required></div>
            </div>

            <div>
                <div><label for="word_level">Word Level:</label></div>
                <div><input type="number" name="word_level" id="word_level" min="1" max="10" required></div>
            </div>

            <div>
                <div><label for="date_added">Date:</label></div>
                <div><input type="text" name="date_added" id="date_added" placeholder="DD/MM/YY" required></div>
            </div>

            <div>
                <div></div>
                <div><input type="reset"></div>
            </div>

            <div>
                <div></div>
                <div><input type="submit"></div>
            </div>
        </form>
    {% endif %}

{% endblock %}
