{% extends 'base.html' %}

{% block title %}Māori Dictionary | Password Change{% endblock %}

{% block main %}
    <div>
        <i class="fas fa-cog user-img"></i>
        <span class="span-heading">Password Change</span>

        <form class="dataform" method="post">
            <div>
                <div><label for="current_password">Current Password:</label></div>
                <div><input type="password" name="current_password" id="current_password" required></div>
            </div>

            <div>
                <div><label for="new_password">New Password:</label></div>
                <div><input type="password" name="new_password" id="new_password" required></div>
            </div>

            <div>
                <div><label for="con_new_password">Confirm New Password:</label></div>
                <div><input type="password" name="con_new_password" id="con_new_password" required></div>
            </div>

            <div>
                <div></div>
                <div><input class="button" type="submit" value="Confirm Password Change"></div>
            </div>

        </form>
    </div>


{% endblock %}
