{% extends 'base.html' %}

{% block title %}Māori Dictionary | DELETE {{ cat_name_list[0][1] }}{% endblock %}

{% block main %}

    {% if logged_in %}
        <h2>Confirm Delete {{ cat_name_list[0][1] }}</h2>


        <form class="dataform" method="post">
            <h3>Delete Category: {{ cat_name_list[0][1] }}</h3>
            <p style="color: white">WARNING: This action cannot be undone</p>
            <p style="color: white">
                NOTE: If category is deleted then all words inside of the category will still be searchable
                <br>
                To delete category and also all words inside category select "Delete category and all words within"
                <br><br>
            </p>

            <div>
                <div></div>
                <div><input class="button" name="submit" type="submit" value="DELETE CATEGORY"></div>
            </div>

            <div>
                <div></div>
                <div><input class="button" name="submit" type="submit" value="DELETE CATEGORY AND ALL WORDS WITHIN"></div>
            </div>

            <div>
                <div></div>
                <div><input class="button" type="button" value="CANCEL"
                            onclick="window.location.href='/editcategory/{{ cat_name_list[0][0] }}'">
                </div>
            </div>
        </form>
    {% else %}
        <p>You must be logged in to delete a category in the Maori Dictionary.</p>
    {% endif %}


{% endblock %}
