{% extends "base.html" %}

{% block title %}Māori Dictionary | Forgot Password{% endblock %}

{% block main %}
    <h2>
    Password Reset
    </h2>

    <form class="dataform" method="POST">
        <div>
            <div><label for="email">Email Address:</label></div>
            <div><input name="email" id="email" type="email" required></div>
        </div>

        <div>
            <div><label for="fname">First Name:</label></div>
            <div><input name="fname" id="fname" type="text" required></div>
        </div>

        <div>
            <div><label for="lname">Last Name:</label></div>
            <div><input name="lname" id="lname" type="text" required></div>
        </div>

        <div>
            <div><label for="password">New Password:</label></div>
            <div><input name="password" id="password" type="password"></div>
        </div>

        <div>
            <div><label for="password2">Confirm New Password:</label></div>
            <div><input name="password2" id="password2" type="password"></div>
        </div>

        <div>
            <div></div>
            <div><input class="button" type="submit"></div>
        </div>
    </form>
    <p>If you don't have an account - <a href="/signup"><b>Signup</b></a></p>

{% endblock %}