{% extends 'base.html' %}

{% block title %}Māori Dictionary | Home{% endblock %}

{% block main %}
    {%  if logged_in %}
        <h2>Kia Ora {{ session.fname }}.</h2>
    {%  else %}
        <h2>Kia Ora.</h2>
    {%  endif %}
    <p>
        Tēnā koe. Nau mai ki Te Papakupu Māori. Welcome to the online Māori-English,
        English-Māori Dictionary and Index. This online Māori dictionary is aimed
        at providing quick access to definitions of commonly used Māori words.
        <br><br>
        Māori, also known as te reo ('the language'), is an Eastern Polynesian
        language spoken by the Māori people, the indigenous population of New Zealand.
        It gained recognition as one of New Zealand's official languages in 1987.
        The number of speakers of the language has declined sharply since 1945,but a
        Māori-language revitalisation effort slowed the decline, and the language
        has experienced a revival, particularly since about 2015.
    </p>

    {% if logged_in %}
        <form class="dataform" method="post">
            <h3>Add A Category to the Maori Dictionary</h3>
            <div>
                <div><label for="category">Category Name:</label></div>
                <div><input type="text" name="category" id="category" placeholder="New Category Name..." required></div>
            </div>

            <div>
                <div></div>
                <div><input class="button" type="reset"></div>
            </div>

            <div>
                <div></div>
                <div><input class="button" type="submit"></div>
            </div>
        </form>
    {% endif %}

{% endblock %}
