{% extends "base.html" %}

{% block title %}Māori Dictionary | Login{% endblock %}

{% block main %}
    <h2>
    Login
    </h2>

    <form class="dataform" method="POST">
        <div>
            <div><label for="email">Email Address:</label></div>
            <div><input name="email" id="email" type="email" required></div>
        </div>

        <div>
            <div><label for="password">Password:</label></div>
            <div><input name="password" id="password" type="password"></div>
        </div>

        <div>
            <div></div>
            <div><input class="button" type="submit"></div>
        </div>
    </form>
    <p>If you don't have an account - <a href="/signup"><b>Signup</b></a></p>
    <p><a href="/forgotpassword"><b>Forgot Password?</b></a></p>

{% endblock %}