{% extends "base.html" %}

{% block title %}Maōri Dictionary | Login{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    <h1>
    Login
    </h1>

    <form class="dataform" method="POST">
        <div>
            <div><label for="email">Email Address:</label></div>
            <div><input name="email" id="email" type="email" required></div>
        </div>

        <div>
            <div><label for="password">Password:</label></div>
            <div><input name="password" id="password" type="password"></div>
        </div>

        <div>
            <div></div>
            <div><input type="submit"></div>
        </div>
    </form>
    <p>If you don't have an account - <a href="/signup"><u>Signup</u></a></p>

{% endblock %}