{% extends 'base.html' %}

{% block title %}Maōri Dictionary | {{ words[0][1] }}{% endblock %}

{% block main %}


    <h2>{{ words[0][1] }} ({{ words[0][2] }})</h2>


    <table>

        {%  for word in words %}

            <tr>
                <th>Category</th><td><p>{{ cat_name_list[0][1] }}</p></td>
            </tr>
            <tr>
                <th>Definition</th><td><p>{{ word[4] }}</p></td>
            </tr>
            <tr>
                <th>Word Level</th><td><p>{{ word[5] }}</p></td>
            </tr>
            <tr>
                <th>User Added</th><td><p>{{ user_name_list[0][1] }} {{ user_name_list[0][2] }}</p></td>
            </tr>
            <tr>
                <th>Image</th><td><img alt="word_image" src="/static/images/{{ word[7] }}"></td>
            </tr>
            <tr>
                <th>Date Added</th><td><p>{{ word[8] }}</p></td>
            </tr>

        {%  endfor %}

    </table>


    {% if logged_in %}
        <form class="dataform" method="post">
            <h3>Delete Word: {{ words[0][1] }}</h3>
            <div>
                <div><label for="email">Confirm by entering email:</label></div>
                <div><input type="text" name="email" id="email" required></div>
            </div>

            <div>
                <div></div>
                <div><input type="submit" value="CONFIRM DELETE"></div>
            </div>
        </form>
    {% endif %}


{% endblock %}
